{% extends 'basecus.html' %}
{% block header %} Home{% endblock header %}
{% block body %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style>
        img {
    width: 100%;
    height: 100%
}

.bg-black {
    background: #000
}

.skill-block {
    width: 30%
}

@media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
        padding: 32px !important
    }
}

@media (min-width: 1200px) {
    .skill-block {
        padding: 56px !important
    }
}

body {
    background-color: #eeeeee
}
.skill-block {
    padding: 25px 18px !important;
}
.aj{
    color: black;
    /* text-shadow: 2px 2px; */
    text-shadow: 1px 1px 3px #2b00fa;
}
    </style>
<!-- <div>
    <div>
        hello {{usrname}}{{pass1}}
    </div>
</div> -->
<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        {% if "Male" in info.Gender %}
        <div class="col-md-4 col-lg-4"><img class="rounded-circle" src="https://images-ext-1.discordapp.net/external/lx0eA1nx-y74FkrJXk6h1TzQF3ew7ZYTRbvHRVTJFog/%3Fauthuser%3D0/https/lh3.googleusercontent.com/pw/AM-JKLWZH_aeYNDsu1DF9TgRJPYl8LAV0HFu4UZL2mqjIbF01noAh1LSP1jMS7BzqxwDfQqth7gmDMCVaK8PbT-kedWW17YXCYJ2Et-0-5cwjy2OQDTqEoUR4uyU-DdRQIL-fSaNzy-RHcZKJLBOTu8XTEo%3Dw500-h499-no"></div>
        {% else %}
        <div class="col-md-4 col-lg-4"><img class="rounded-circle" src="https://lh3.googleusercontent.com/H7feObEMYVLmyxiQ0Bla8XYkbLN6RW7_lmghEd2D70geCEaQHlIP3E4KvK67lzFnAbj3GJKj-WfEp-gypCNUeOINN-hXYO3g8ExL2wjHfv2qWiAgLl3URa7QZ_-lHz0uIIr9O4mSC65R7qOYr9vmF4QohlGM9W94hvGZisnHoXGVdUBMn2_x8sZr3FZCvN_ZDsgfuPiDKmYAfr60Relug5kEKVJ0z9alp2VK6hKQf2tutamAzIUpk7lTqD0DjNG93gWQKE0kSKVchV9_SNbAxbrKxNtXqIRnCI5wRzcIGL4qUR8y1oeL9ZeufBeGTPvpMDMpZYYalHyYo7RRzvdFddA6gSCdT7Ls8D7yOiWaADax8-wUBn5xawWM9Nwx6sZFQVUqdHC-Ico-US3v41XQy4YiVSDlz4eylYVPltUOPFTY-UacXEi4o1mvftURKdGX-LER2yQUv0OgMYi7T9GW1RTH3Zq4JRUY_KuQElFoLNzR1LIVayWycPjr7VYlVa9QOgRCZFdLVoHNRci-al-kgzWltUGKnjESsEvplXzaOcmaGTVI7ivfrClST1RolV1Y9CjXi58ojPQ6KeqRoQQHQH3AmCzWKymon5MsrM0XS1l2QIqjzi38W088CC8BF1HACgzw9YEZ-YSB0SIiIbwtkUflIovwTdb8NZRgg1v6gRaaIDdQMxmSgsHq0DmNSix9MF_3-2Jr2T7s6ykRV4Xa-YI=s500-no?authuser=2"></div>
        {% endif %}
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display5">Welcome {{info.name}}</h3>
                </div>
                <div class="d-flex flex-row text-white" style="background-color: aqua;">
                    <div class="p-4 text-center skill-block aj">Age</div>
                    <div class="p-4 text-center skill-block aj">No of cars</div>
                    <div class="p-4 text-center skill-block aj">Past no of claims</div>
                    <div class="p-4 text-center skill-block aj">date of birth</div>
                    <h6> &nbsp;</h6>
                </div>
                <table class="table table-dark">
<!-- <thead>
<tr>
  <th scope="col">#</th>
  <th scope="col">First</th>
  <th scope="col">Last</th>
  <th scope="col">Handle</th>
</tr>
</thead>
<tbody>
<tr>
  <th scope="row">1</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
</tr>
<tr>
  <th scope="row">2</th>
  <td>Jacob</td>
  <td>Thornton</td>
  <td>@fat</td>
</tr>
<tr>
  <th scope="row">3</th>
  <td>Larry</td>
  <td>the Bird</td>
  <td>@twitter</td>
</tr>
</tbody>
</table> -->
                <div class="d-flex flex-row text-white">
                    <div class="p-4 text-center skill-block" style="background-color: #22262a;color: aqua;">
                        <h4>{{info.age}}</h4>
                        
                    </div>
                    <div class="p-3 text-center skill-block" style="background-color: #22262a;color: aqua;">
                        <h4>{{carno}}</h4>
                        
                    </div>
                    <div class="p-3 text-center skill-block" style="background-color: #22262a;color: aqua;">
                        <h4>{{pclaim}}</h4>
                        
                    </div>
                    <div class="p-3 text-center skill-block" style="background-color: #22262a;color: aqua;">
                        <h4>{{info.dob}}</h4>
                        
                    </div>
                    <!-- <div class="p-3 bg-danger text-center skill-block">
                        <h4>75%</h4>
                        <h6>PHP</h6>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}